<style>
  
  .main-visual {
    height: 600px;
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden;
}
 
.main-visual img {
    z-index: 2;
    position: absolute;
    top: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
 
.main-visual video {
    margin: 0 auto;
    z-index: 1;
    width: 100%;
}
  
</style>





<div class="main top-main">

  <div class="top-message">
    <h2>繋がる世界</h2>
    <p>貴方が生み出す、世界と繋がる</p>
    <p class="topmintext">The connected world.Connected to the world that you produce</p>
  </div>
</div>

